*{
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}
nav{
    position: relative;
    height: fit-content;
    background-color: #F9F9E0;
    color: #020626;
    font-size: 1.2rem;
}
ul li{
    list-style-type: none;
    width: fit-content;
}
.nav-list, .nav-dropdown{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: left;
    gap: 5%;
}
.nav-dropdown div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-dropdown .dropdown-item{
    display: none;
    position:absolute;
    background-color: #e2e2c8;
    top:100%;
    width: 100%;
    height: fit-content;
    padding: 5px;
    z-index: 3;
    border-radius: 2px;
}
.nav-dropdown:hover .dropdown-item{
    display: flex;
}
.dropdown-item li{
   margin: 10px 0 10px 10px;
}
.nav-dropdown:hover, .nav-item:hover{
    text-decoration: underline;
    font-weight:bold;
}

.nav-list a{
    text-decoration: none;
    color: black;
}
.logo-icon, .profile-icon, .dropdown-icon{
    width: auto;
    position: relative;
}
.dropdown-icon{
    height: 20px;
    margin-left: 5px;
}
.logo-icon{
    margin-right: 40px;
    width: auto;
    height: 50px;
    margin-left: 10px;
}
.profile-icon{
    margin-left: auto;
    width: auto;
    height: 40px;
    margin-right: 10px;
}

.header-collection{
    display: flex;
    margin-left: 30px;
    align-items: center;

}
#songcollectionhead{
    margin-right: auto;
    margin-right: 10px ;
}

.section-header{
    margin-top: 10px;
    margin-left: 20px;
}

.new-playlist{
    display: flex;
    width: 100%;
}

.playlist-section p{
    color: white;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.playlist-section {
    
  position: relative;
  width: 100%;
  height: 100%;
  margin: 20px;
  cursor: pointer;
  
}

.playlist-section img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
}   

.overlay{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    height: 250px;
    position: absolute;
    flex-direction: column-reverse;
    border-radius: 15px;

    
    
}
.overlay h2{
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}

#playlist-name{
    margin-bottom: 5px;
}



.songs-sections{
    display: flex;
    margin-left: 30px;
    margin-bottom: 10px;
}

.songs-list{
    margin-right: 20px;
    width: 530px;
    height: 120px;
    background-color: rgb(2, 6, 38);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}

#songs-content{
    width: 500px;
}

#songs-descriptions {
    color: rgba(255, 255, 255, 0.578);
    margin-left: 20px;
    font-size: 14px;
}


#songs-name{
    color: white;
    margin-left: 20px;
}
#songs-artist{
    color: white;
    margin-left: 20px;
}

#play-icon{
width: 50px;
margin-left: auto;
margin-right: 20px;
}

.songs-list img{
    width: 100px;
    border-radius: 5px;
   
}


#other-songs-header{
    margin-top: 30px;
}

#other-songs-name{
 
  word-wrap: break-word;
  word-break: break-word;
  max-width: 250px;
  overflow-wrap: break-word;
  white-space: normal;

}

#songs-pict{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;    
    
}



.other-songs-section{
    margin-bottom: 20px;
    margin-left: 30px;
    display: flex;
    width: 100%;
}

.other-songs-list{
    position: relative;
    height: 100%;
    margin-right: 50px;
}
.other-songs-list img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    
}

.other-songs-list p{
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 250px; 
    overflow-wrap: break-word;
    white-space: normal;
}

.other-overlay{
    display: flex;
    flex-direction:column-reverse ;
    position: absolute;
    height: 250px;
    width: 250px;
    margin-left: auto;
    max-width: 100%;
}

#other-play-icon{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

#other-play-icon, #play-icon {
    transition: transform 0.3s ease;
    cursor: pointer;
}

#other-play-icon:hover, #play-icon:hover {
    transform: scale(1.2); 
}





/** View HP **/
@media screen and (max-width: 768px) {
    #songcollectionhead{
        font-size: medium;
    }
    .new-playlist{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
       }

    .playlist-section{
        position: relative;
        width: 80%;
        height: 100%;
        margin: 20px;
        justify-content: center;
        
    }

    .section-header{
        font-size: medium;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 30px;
    }
    .songs-sections{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0px;
    } 

     .songs {
        flex-direction: column;
    }

    .songs-list{
        margin-bottom:10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 280px ;
        display: flex;
        justify-content: center;
    }


     .songs-sections {
        width: 100%;
        padding: 0 10px;
    }

    .other-songs-section{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .other-songs-list{
        margin-bottom: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 20px;
    }

    .other-songs-list img{
        width: 150px;
        height: 150px;
    
    }

    #other-songs-name {
        font-size: 14px;
    }

    .other-overlay{
        height: 150px;
        width: 150px;

    }
    
    #other-play-icon{
        width: 25px;
        height: 25px;
        margin-left: auto;
    }
   
    .nav-list{
    flex-direction: row;
    align-items: center;
    text-align: center;
       font-size: small;
       text-align: center;
    }
    .logo-icon, .profile-icon, .dropdown-icon{
        width: auto;
        position: relative;
    

    }

    #songs-pict img {
        width: 100%;
        max-width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .songs {
        flex-direction: column;
    }

    .songs-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .songs-list {
        width: 45%;
        margin-bottom: 20px;
        height: 150px;
    }

  

    .other-songs-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .other-songs-list {
        width: 45%;
        margin: 10px;
    }
}
