*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}

.header-collection{
    display: flex;
    margin-left: 30px;
    align-items: center;

}
#songcollectionhead{
    margin-right: auto;
}

.section-header{
    margin-top: 10px;
    margin-left: 30px;
}

.new-playlist{
    display: flex;
    width: 100%;
}

.playlist-section {
    
  position: relative;
  width: 100%;
  height: 100%;
  margin: 20px;
  
  
}

.playlist-section img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
}   

.overlay{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    height: 250px;
    position: absolute;
    flex-direction: column-reverse;
    border-radius: 15px;

    
    
}
.overlay h2{
    color: white;
    margin: 20px;
}

#playlist-name{
    margin-bottom: 5px;
}



.songs-sections{
    display: flex;
    margin-left: 30px;
    margin-bottom: 10px;
}

.songs-list{
    margin-right: 20px;
    width: 300px;
    height: 70px;
    background-color: rgb(2, 6, 38);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}



#songs-name{
    color: white;
    margin-left: 10px;
}
#songs-artist{
    color: white;
    margin-left: 10px;
}

#play-icon{
width: 30px;
margin-left: auto;
margin-right: 10px;
}

.songs-list img{
    width: 40px;
    border-radius: 5px;
}


#other-songs-header{
    margin-top: 30px;
}

.other-songs-section{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    width: 100%;
}

.other-songs-list{
    position: relative;
    height: 100%;
    margin-right: 50px;
}
.other-songs-list img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    
}

.other-overlay{
    display: flex;
    flex-direction:column-reverse ;
    position: absolute;
    height: 250px;
    width: 250px;
    margin-left: auto;
    max-width: 100%;
}

#other-play-icon{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}



/** View HP **/
@media screen and (max-width: 768px) {
    #songcollectionhead{
        font-size: medium;
    }
    .new-playlist{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
       }

    .playlist-section{
        position: relative;
        width: 80%;
        height: 100%;
        margin: 20px;
        justify-content: center;

    }

    .section-header{
        font-size: medium;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 30px;
    }
    .songs-sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    } 

    .songs-list{
        margin-bottom:5px;
    }

    .other-songs-section{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .other-songs-list{
        margin-bottom: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .other-songs-list img{
        width: 150px;
        height: 150px;
        

    }

    .other-overlay{
        height: 150px;
        width: 150px;

    }
    
    #other-play-icon{
        width: 25px;
        height: 25px;
        margin-left: auto;
    }
   
    .nav-list{
       font-size: small;
       text-align: center;
    }
    .logo-icon, .profile-icon, .dropdown-icon{
        width: auto;
        position: relative;
    }
}

