*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.dropdown-item li:hover{
    background-color: #d5d5d5;
}
nav{
    position: relative;
    height: fit-content;
    background-color: #F9F9E0;
    color: #020626;
    font-size: 1.2rem;
}
ul li{
    list-style-type: none;
    width: fit-content;
}
.nav-list, .nav-dropdown{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: left;
    gap: 5%;
}
.nav-dropdown div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-dropdown .dropdown-item{
    display: none;
    position:absolute;
    background-color: #F9F9E0;
    top:100%;
    width: 100%;
    height: fit-content;
    padding: 5px;
    z-index: 3;
    border-radius: 2px;
}
.nav-dropdown:hover .dropdown-item{
    display: flex;
}
.dropdown-item li{
   margin: 10px 0 10px 10px;
}
.nav-dropdown:hover, .nav-item:hover{
    text-decoration: underline;
    font-weight:bold;
}

.nav-list a{
    text-decoration: none;
    color: black;
}
.logo-icon, .profile-icon, .dropdown-icon{
    width: auto;
    position: relative;
}
.dropdown-icon{
    height: 20px;
    margin-left: 5px;
}
.logo-icon{
    margin-right: 40px;
    width: auto;
    height: 50px;
    margin-left: 10px;
}
.profile-icon{
    width: auto;
    height: 30px;
    margin-right: 10px;
}
.profile{
    margin-left: auto;
    justify-content: center;
    align-items: center;
}
.song-detail{
    background-color: #F9F9E0;
    padding-bottom: 50px;
}
.song-detail-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.song-info{
    display: flex;
    flex-direction:row;
    gap: 30px;
    padding: 40px;
    justify-content: space-between;
}
.song-info img{
    width: 20%;
    height: fit-content;
    object-fit: cover;
    margin-left: 5%;
}
.song-detail-header button{
    margin-right: auto;
    margin-left: 10px;
}
.song-detail-header h1{
    margin-right:auto;
}
.song-name-artist, .song-description{
    gap: 10;
}
.song-name-artist h2, .song-description h2{
    font-size: 1rem;
}
.song-metadata{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: left;
    gap: 10px;
}
.song-metadata p{
    font-size: 0.8rem;
}
.song-name-artist{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 50px;
    align-items: center;
}
.song-name-artist h2:first-child{
    width: 100px;
}
.song-description{
    display: flex;
    flex-direction: column;
    width: 100%;
} 
.song-lyric{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;
}
.lyrics{
    white-space: pre-line;
    text-align: center;
}
.song-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: left;
}
.media-player{
    background-color:#F9F9E0;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.media-player-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
#play{
    width: 40px;
}
.media-player img{
    width: 6%;
    height: fit-content;
    object-fit: cover;
    border-radius: 10px;
}
.media-player .song-name-value{
    font-weight: bolder;
}
.media-player .song-name-value, .media-player .song-artist-value{
    font-size: small;
}
.song-title-artist{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input{
    width: 100%;
}
@media screen and (max-width: 768px) {
    *{
        font-size: small;
    }
    .song-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .song-metadata{
        justify-content: space-between;
        align-items: stretch;
    }
    .media-player-content{
        font-size: smaller;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .song-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .song-metadata{
        justify-content: space-between;
        align-items: stretch;
    }
}