*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
nav{
    position: relative;
    height: fit-content;
    background-color: #F9F9E0;
    color: #020626;
    font-size: 1.2rem;
}
ul{
    list-style-type: none;
}
.nav-list, .nav-dropdown{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: left;
    gap: 5%;
}
.nav-dropdown div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-dropdown .dropdown-item{
    display: none;
    position:absolute;
    background-color: #e2e2c8;
    top:100%;
    width: 100%;
    height: fit-content;
    padding: 5px;
    z-index: 3;
    border-radius: 2px;
}
.nav-dropdown:hover .dropdown-item{
    display: flex;
}
.dropdown-item li{
   margin: 10px 0 10px 10px;
}
.nav-dropdown:hover, .nav-item:hover{
    text-decoration: underline;
    font-weight:bold;
}

.nav-list a{
    text-decoration: none;
    color: black;
}
.logo-icon, .profile-icon, .dropdown-icon{
    width: auto;
    position: relative;
}
.dropdown-icon{
    height: 20px;
    margin-left: 5px;
}
.logo-icon{
    margin-right: 40px;
    width: auto;
    height: 50px;
    margin-left: 10px;
}
.profile-icon{
    margin-left: auto;
    width: auto;
    height: 40px;
    margin-right: 10px;
}
.song-detail{
    background-color: #F9F9E0;
    padding-bottom: 50px;
}
.song-detail-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.song-info{
    display: flex;
    flex-direction:row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.song-info img{
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-left: 5%;
}
.song-detail-header button{
    margin-right: auto;
    margin-left: 10px;
}
.song-detail-header h1{
    margin-right:auto;
}
.song-name-artist, .song-description{
    gap: 10%;
    padding: 10px;
}
.song-name-artist h2, .song-description h2{
    font-size: 1rem;
}
.song-metadata p{
    font-size: 0.8rem;
}
.song-name-artist{
    display: flex;
    flex-direction: row;
}
.song-name-artist h2:first-child{
    width: 20%;
}
.song-description{
    display: flex;
    flex-direction: column;
    width: 80%;
}