*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    position: relative;
    height: fit-content;
    background-color: #F9F9E0;
    color: #020626;
    font-size: 18px;
    
}

.nav-list{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    gap: 50px;
    
}

.logo-icon{
    margin-right: auto;
    width: auto;
    height: 50px;
    margin-left: 10px;
}

.register-button{
    margin-right: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: #F9F9E0;
    background-color: #020626;
    border-style: none;
}

.register-grid{
    display: grid;
    grid-template-areas: 
    "register-panel photo-panel"
    ;
    height: 100vh;
    grid-template-columns: 50% 1fr;
}



.register-panel{
    grid-area: "register-panel";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-panel{
    grid-area: "photo-panel" ;
    overflow: hidden;
    
}

.photo-panel img{
    width: 100%;
    object-fit: cover;
    height: 100%; 
    
}

.register-panel h1{
    text-align: center;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.register-field{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-color: #020626;
}

#register-field-age{
    width: 50px;
    height: 35px;
    border-radius: 5px;
}

.register-radio{
    display: flex;
}

.register-radio-content{
    margin-right: 50px;
    font
}

.register-content label{
    font-weight: bold;
}

.register-content button{
    margin-top: 60px;
    width: 300px;
    border-radius: 5px;
    color: #F9F9E0;
    background-color: #020626;
    border-style: none;
    height: 30px;
}

@media screen and (max-width: 768px) {

    .register-grid{
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .register-panel{
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: #02062672;
        color: #F9F9E0;
    }

    .register-panel h1{
        color: #F9F9E0;
    }

}